.sidebar {
    padding-top: 20px;
    height: calc(100vh - 125px);
    width: 200px;
    background-color: #a9d7e0ee ; 
   
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 20px;
}

.sidebar ul li:hover{
    background-color: #c6e2e6ee;
}

.sidebar ul li a{
    text-decoration: none;
}

