
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
.header {
    height: 100px;   
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif;
}